::selection{background-color: #0073ae;color: #fff;}
body{font-size: 18px;font-weight: 300;}
.split-menu #logo img{padding: 20px;}
.split-menu.sticky-header #logo img{padding: 5px;}
.lighter{font-weight: lighter !important;}
.tnormal{text-transform: none;}
.text-nowrap{white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.btn-default {color: #333;background-color: #ffffff;border-color: #a9b2b8;}
.button.button-border:not(.button-fill):hover {background-color: rgb(0, 115, 174);}
.promo-full{padding: 30px 0 26px 0 !important;}
#keyservices .button.button-3d.button-light:hover, .button.button-reveal.button-light:hover {color: #fff;}
#keyservices .button.button-border.button-light{border-color: #fff; color: #fff;}
.dark, .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {color: #fff;}
#header{z-index: 600;}
h1, h2, h3, h4, h5, h6,.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, .emphasis-title h1, .emphasis-title h2{font-weight: 300;}
#primary-menu ul li > a{font-weight: 500 !important;}
.dark #copyrights {color: rgb(169, 178, 184);}
#footer.dark, .dark #footer{color: #fff;background-color: #2d3133;}
.dark .heading-block:not(.not-dark) > span {color: #FFF;}
.button{letter-spacing: 2px;}
#page-title h1{color: #fff;}
#page-title span{color: #333;}
.fbox-media{overflow: hidden;}
.fbox-media img:hover{transform: scale(1.1);}
#popUpmessage a, #popUpmessage a:hover, .dv-assist-popup a, .dv-assist-popup a:hover, .header-img-margin-lg,.header-img-margin-xs, .portfolio-item:hover .portfolio-desc, .portfolio-item .portfolio-desc, .portfolio-item:hover .portfolio-desc span, .portfolio-item .portfolio-desc span, .portfolio-item:hover .portfolio-image img,.portfolio-item .portfolio-image img, .side-header.open-header #header-trigger, .side-header.open-header #header-trigger:hover, .fbox-media img:hover, .fbox-media img,#knights-product-single .thumbnail img:hover,#knights-product-single .thumbnail img, #knights-product-single .thumbnail-img:hover, #knights-product-single .thumbnail-img{
	-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;
}
.portfolio-desc h3 a{color: #333;}
.portfolio-desc span{color: #a9b2b8;white-space: nowrap;position: relative;text-overflow: ellipsis;overflow: hidden;}
.heading-block.center > span, .heading-block.title-center > span, .center .heading-block > span{max-width: 100%;}
.feature-box h3{font-weight: 500;}
.feature-box h3 span{font-size: 14px;}
#knights-product-single .thumbnail-img{width: 150px;height: 150px;border-radius: 100%; overflow: hidden;margin-left: auto; margin-right: auto; margin-bottom: 30px;}
#knights-product-single .thumbnail img{width: 150px;height: 150px;border-radius: 100%;}
#knights-product-single .thumbnail img:hover{transform: rotate(5deg) scale(1.1);}
#knights-product-single .thumbnail-img:hover{transform: rotate(5deg);}
#knights-product-single  .thumbnail {padding: 30px 20px;}
#knights-product-single .thumbnail .caption {padding: 0; color: #778087;}
.thumbnail .heading-block {margin-bottom: 20px;}
.thumbnail .heading-block.center:after, .thumbnail .heading-block.title-center:after {margin: 20px auto 0;}
.thumbnail .heading-block > span:not(.before-heading){margin-top: 0;font-size: 14px;}
.header-logo-centered img{padding: 10px; height: 80px;}
.side-header.open-header #header-trigger, .side-header #header {z-index: 999;}
#header-trigger{margin-top: 10px; background-color: #fff !important; color: #333; border-radius: 0 !important; border: 1px solid rgba(106,116,124,.8); font-weight: 500;}
#header-trigger:hover{color: #333;background-color: rgba(169,178,184,0.1) !important;}
#header-trigger:active{background-color: #333 !important;}
.side-header.open-header #header-trigger{font-size: 20px;width: 100px;height: 45px;line-height: 45px;margin-top: -2px;}
.side-header #primary-menu ul li{padding: 15px 0; border-bottom: 1px solid rgba(169,178,184,0.2); margin: 0;}
.side-header #primary-menu ul li a{height: auto;}
.header-logo-centered .button.button-reveal i{background-color: rgba(255, 255, 255, 0.1);}
.header-logo-centered{
	height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background: #fff;
    border-bottom: 1px solid rgba(106,116,124,0.2);
}
.overlay1{
	background-color: rgba(0,69,124,0.2);
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;}
#slider {margin-top: 80px;}
.slider-promo{
	background: rgba(0,0,0,0.4);
	border-color: rgba(255,255,255,0) !important; 
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 0;}
#typesOfInsurance #portfolio .portfolio-overlay a, .modal-body .portfolio-overlay a  {
    position: absolute;
    top: 50%;
    width: 40% !important;
    margin: -28px 0 0 -44px;
    text-align: center;
	border-radius: 0;
	height: auto !important
}
 .modal-body .portfolio-overlay a  {width: auto !important;}
.portfolio-overlay{z-index: 10;}

#typesOfInsurance #portfolio .portfolio-overlay a.left-icon{
    right: auto;
    left: 51%;
    margin-left: 5px;
    margin-right: 0;
}
.modal-body .portfolio-overlay a.left-icon {
	right: 15px;
    left: 15px;
    margin-left: 0;
    margin-right: 0;
    bottom: 10px;
    top: auto;}

#typesOfInsurance #portfolio .portfolio-overlay a.right-icon{
    left: auto;
    right: 51%;
    margin-left: 0;
    margin-right: 0;
}

 .modal-body .portfolio-overlay a.right-icon {    
 	left: 15px;
    right: 15px;
    margin-left: 0;
    margin-right: 0;
    bottom: 45px;
    top: auto;}

#header-trigger span{right: 10px; position: absolute; top: 0;}
#header-trigger .open-menu{margin-right: 60px;}
#header-trigger .close-menu{margin-left: 60px;}
.side-header-open #header-trigger span{display: none;}
.side-header-open #header-trigger .close-menu{margin-left: 0;}
.side-header-open #header-trigger {width: auto !important; padding: 0 10px;}


#typesOfInsurance .portfolio-desc,.modal-body .portfolio-desc {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 12;
    padding: 0 44px 45px 42px;
    bottom: 0;
    overflow: hidden;
}
.modal-body .portfolio-item:hover .portfolio-desc{transform: translateY(0);}
.modal-body .portfolio-desc {transform: translateY(50px);}
#typesOfInsurance .portfolio-desc{padding: 0 44px 45px 34px;}
.modal-body .portfolio-desc {padding: 15px;top: 0;bottom: auto;}
.modal-body .portfolio-desc h3{line-height: 1.2;font-size: 16px;}
.modal-body .portfolio-desc h3 a, .modal-body .portfolio-desc span, #typesOfInsurance .portfolio-desc h3 a, #typesOfInsurance .portfolio-desc span{color: #fff; text-shadow: 1px 1px 2px black;}
.modal-body .portfolio-desc h3 ,#typesOfInsurance .portfolio-desc h3 {text-transform: uppercase;}
.modal-body .portfolio-desc span {display: none;}
.insurance-overlay{background: linear-gradient(rgba(169,178,184,.1), rgba(0,0,0,.5)); position: absolute; width: 100%; height: 100%;top: 0;left: 0;z-index: 4;}
.portfolio-item:hover .portfolio-image img{transform: scale(1.1);}
.portfolio-overlay .button-border.button-blue{color: #ffffff; border-color: #ffffff;}
.header-btn{padding: 10px 0;position: absolute;right: 20px;bottom: 0;}
#header_getAquote{display: none;}
.text-rotater h1,.text-rotater span{text-shadow: 1px 1px 10px black;}
.text-rotater h1 span{color: #fff !important;}
#newsFeed #posts .entry:first-child{padding-top: 0;}
#newsFeed .entry{margin: 0; padding: 20px 0; border-bottom: 1px solid #ccc;}
#newsFeed #posts .entry-content {margin-top: 15px}
#newsFeed .entry-image img{margin-bottom: 15px;}
#newsFeed .entry-title h1{font-size: 22px; text-transform: uppercase; font-weight: 600; margin-bottom: 10px;}
#newsFeed .entry-title h1 a{color: #333;}
#newsFeed .entry-title h2 a{color: #333;}
#newsFeed .entry-content p{white-space: nowrap; position: relative; text-overflow: ellipsis; overflow: hidden; padding-right: 90px; margin-bottom: 0;}
#newsFeed .entry-content p a.more-link{position: absolute; top: 1px; right: 10px;}
#newsFeed .small-thumbs .entry-image{width: 100%;}
#newsFeed .small-thumbs .entry-title h2{font-size: 16px; font-weight: 600;}
#newsFeed #posts *:nth-last-child(2){border-bottom: 0 !important;}
.modal-body .portfolio .portfolio-item{position: relative !important;left: auto !important; top: auto !important;padding: 0 6px 6px 0;}
.modal-body .portfolio{height: auto !important;}
.modal-title{text-transform: uppercase; color: #333;}
.modal-body{padding: 20px 25px 25px 20px;}
.modal-backdrop.in {opacity: 0.7;filter: alpha(opacity=70);}
.close{color: #333;opacity: 1;}
.facebookfeed{box-shadow: 1px 1px 5px rgba(51,51,51,.3);}
.dark .testimonial{min-height: 165px;}
/*Popup*/
.dv-assist-popup {width: 70px; height: 70px; position: fixed; bottom: 25px; z-index: 1039; text-align: center; top: auto; left: auto; right: 77px;}
.dv-assist-popup a, #popUpmessage a {cursor: pointer; background:#FFF; color: #333; width: 70px; height: 70px; padding: 6px 0 0; border:1px solid rgba(106,116,124,.8); border-radius: 35px; text-align: center; font-size: 35px; display: block;}
.dv-assist-popup .dropdown-menu {width: 400px;font-size: 16px;}
.custom-popup:before, .dv-assist-popup .dropdown-menu:before{content: ""; display: block; width: 20px; height: 20px; -webkit-transform: translate(54%, -50%) rotate(45deg); transform: translate(54%, -50%) rotate(45deg); border-left: 1px solid rgb(255, 255, 255); border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgba(128,128,128,0.5); border-right: 1px solid rgba(128,128,128,0.5); background: #fff; right: 38px; bottom: -20px; position: absolute; border-style: solid;}
.dv-assist-popup a:hover{background: rgb(228, 231, 233);}
#popUpmessage a:hover, .popButton a:hover{background: rgb(228, 231, 233);}
#popUpmessage {width: 70px; height: 70px; position: fixed; bottom: 15px; z-index: 1039; text-align: center; top: auto; left: auto; right: 80px; border-radius: 35px;}
.dropdown-heading{border-bottom: 1px solid rgba(0, 0, 0, 0.15); padding: 10px;}
.dropdown-heading h3{font-size: 18px; margin-bottom: 0;}
.dropdown-content{padding: 10px;}
.dv-assist-popup .accordion.accordion-border .acc_content{padding: 0 15px 15px 15px;}
.dv-assist-popup .accordion.accordion-border .acctitle, .accordion.accordion-border .acctitlec{padding: 0 15px 0 15px;font-size: 16px;}
.dv-assist-popup .acc_content a{width: auto!important; margin: 10px 0 auto;}
.get-a-quote #page-title a span,.sub-page #page-title a span{display: inline-block; margin-top: 0; font-weight: 700; color: #fff !important; font-size: 18px;}
.get-a-quote #page-title a i, .sub-page #page-title a i{width: 44px !important;}
.get-a-quote .breadcrumb, .sub-page  .breadcrumb{top: -2px !important;}
.get-a-quote label{text-transform: none;color: #333;font-weight: 500;letter-spacing: 0.5px;font-size: 16px;}
#page-title{margin-top: 80px;}
.dropdown-heading .close {position: absolute; right: 10px; top: 11px;}
.dropdown-heading .close:hover{opacity:0.6}
.custom-popup{bottom: 100%;margin-bottom: 2px;display: block;position: absolute;z-index: 1000;float: left;min-width: 160px;padding: 5px 0;margin: 2px 0 0;list-style: none;font-size: 16px;text-align: left;background-color: #ffffff;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);-webkit-background-clip: padding-box;background-clip: padding-box;left: auto;right: 0;width: 400px;top: auto;display: none;}
.quote-custom-heading{background-color: #333;padding: 4px 10px;color: #fff;margin-bottom: 25px;}
.get-a-quote label h4{margin-bottom: 10px;}
.bottommargin-xs{margin-bottom: 15px !important;}
/*For Tooltip*/
.custom-tooltip {
    display: inline-block;
    position: relative;
    color: #333;    
}
.custom-tooltip i:hover, .custom-tooltip i:focus {
    cursor: pointer;
}
.custom-tooltip > div.custom-tooltip-body {
    width: 200px;
    background: #fff;
    border: 2px solid #ccc;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 9999;
}

.custom-tooltip > div.custom-tooltip-body p {
    font-size: 13px;
    line-height: normal !important;
    margin: 0;
    padding: 10px;
    font-weight: 400 !important;
    letter-spacing: 0.5px;
    font-family: 'Raleway', sans-serif;
}

.custom-tooltip i:hover + div.custom-tooltip-body{
    display: block;
}
.input-file-error,
.input-error {
    border-color: #eaafaf !important;
}
.input-error-container {
    color: #ce0000;
    font-size: .9em;
    font-weight: 500;
}
/*Select2 override style*/
.select2-selection--single{
    border-radius: 0 !important;
    border: 2px solid #ddd !important;
}
.select2-error{
    border: 2px solid #eaafaf !important
}
.select2-container .select2-selection--single{
    height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 37px !important;
}
.form-error-container{
    display: none;
}
.dropzone-container > .dropzone.dz-clickable{
    text-align: center;
}
.transport-upload-container-helper p{
    font-style: italic;
    margin-bottom: 10px;
}
.excel-custom-container{
    display: block;
    text-align: center;
    font-size: 3em;
    margin-top: 16px;
    opacity: .5;
    color: #009007;
}
/*Responsive*/ 
@media (max-width: 1366px) {
    #slider.home-slider {height: 430px !important;}
    .dv-assist-popup .accordion.accordion-border .acc_content{max-height: 200px; overflow: auto;}
}

@media (max-width: 1199px){
#typesOfInsurance .portfolio-desc{padding: 0 20px 45px 23px;}
#typesOfInsurance .portfolio-desc h3{font-size: 16px;}
#typesOfInsurance #portfolio .portfolio-overlay a{width:auto !important;}
#typesOfInsurance #portfolio .portfolio-overlay a.right-icon{right: 53%;}
}

@media (min-width: 992px){ 
	#typesOfInsurance .portfolio-item .portfolio-desc{transform: translateY(32px);}
	#typesOfInsurance .portfolio-item .portfolio-desc span{opacity:0 ; }
	#typesOfInsurance .portfolio-item:hover .portfolio-desc{opacity:1 ; transform: translateY(0);}
	#typesOfInsurance .portfolio-item:hover .portfolio-desc span{opacity:1;}
}
@media (max-width: 991px){
    #page-title{margin-top: 0;}
	#slider{margin-top: 0;}
	#typesOfInsurance .portfolio-desc span {display: none;}
	#typesOfInsurance .portfolio-desc{padding: 25px 20px;}
	#typesOfInsurance #portfolio .portfolio-overlay a.left-icon{padding: 0 5px;left: 50%;}
	#typesOfInsurance #portfolio .portfolio-overlay a.right-icon{padding: 0 5px;right: 50%;}
}
@media (max-width: 767px){
	#slider .heading-block h1 {font-size: 24px;}
	.facebookfeed{box-shadow: none;}
	.portfolio-item .portfolio-overlay, .iportfolio .portfolio-overlay {
	    opacity: 1;
	}
	#typesOfInsurance #portfolio .portfolio-overlay a.left-icon{ margin-left: 3px;}
	#typesOfInsurance #portfolio .portfolio-overlay a.right-icon{ margin-right: 3px;}
	.modal-body .portfolio-overlay a.right-icon{left: 26px; right: 26px;}
	.modal-body .portfolio-overlay a.left-icon {right: 26px; left: 26px;}
	.modal-body .portfolio-desc{padding: 25px !important;transform: translateY(0);}
}

@media (max-width: 479px){
	.portfolio .portfolio-item{padding: 0; margin: 0 0 15px 0;}
}

