<div>
		<div id="" class="list-group">
				<div class="col-md-7">
					
					<selected-car></selected-car>
					
				</div>				
				<div class="col-md-5">
					 <form class="well form-horizontal"  method="post"  id="reserveForm" name="reserveForm"
					 ng-submit="reserveForm.$valid && reserve.checkOut(reserve.item)" novalidate >
						 <div class="row">
				            <div class="form-group col-lg-12">
				               <input type="text" class="form-control input-sm" id="name"
				                ng-model="reserve.item.name" name="name" placeholder="Name" required>
				         
				            </div>
	       				 </div>
	       				
					         <div class="row">
					            <div class="form-group col-lg-12 ">
					               <input type="email" class="form-control input-sm" 
					               ng-model="reserve.item.email" id="email" name="email" placeholder="Email" required>
					            </div>
					        </div>
		    				 <div class="row">
								<div class="form-group col-lg-12">
									<input type="number"
									 ng-model="reserve.item.mobileNumber"
									 class="form-control input-sm" id="mobile" name="mobile" placeholder="Mobile Number" required>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-12">
									<input  type="number" pattern="\d*" min="20" maxlength="2"
									 ng-model="reserve.item.ageOfDriver"  class="form-control input-sm" id="age" name="age" placeholder="Age of Driver" required>
								</div>
							</div>
					
						<div class="row">
							<div class="form-group col-lg-12">
								<input type="text" class="form-control input-sm" id="driver-licence" 
								ng-model="reserve.item.driverLicenNumber" name="driver-licence" placeholder="Driver Licence Number" required>
							</div>
						</div>
						
						<div class="form-group">
							<div class="list-group">
								<div class="col-md-6">
											<div class="input-group date">
												<input type="text" class="form-control" date-picker=""
												 ng-model="reserve.item.pickUpDate" name="pickUpDate" placeholder="Pick Up Date" required/>
												 <div class="input-group-addon">
											        <span class="glyphicon glyphicon-th"></span>
							   				 	</div>
						    				 </div>
								</div>
							 <div class="col-md-6">
										<div class="input-group date">
												<input type="text" class="form-control" date-picker=""
												 ng-model="reserve.item.returnDate" name="returnDate" placeholder="Return Date" required/>
												 <div class="input-group-addon">
											        <span class="glyphicon glyphicon-th"></span>
							   				 	</div>
						    				 </div>
								       </div>
							</div>
							
						</div>
						<div class="form-group">
							   <div  class="col-md-6">
								  <b>TOTAL PRICE:</b>
							   </div>
							   <div class="col-md-6">
							       <input type="hidden" id="totalPrice" name="totalPrice" model="reserve.item.totalPrice" />
								    <h3>{{reserve.item.totalPrice | currency}}</h3>     
								    
							   </div>
						</div>
            			 <div class="form-group">
            			  
            			  <car-modal modal-name="modal1" 
            			  			modal-body="reserve.modalBody" 
            			  			modal-footer="mainCtrl.modalApp.footer" 
        				 			 modal-header="mainCtrl.modalApp.header" 
        				 			 data-ng-click-left-button= "reserve.myRightButton()"
        				 			 data-ng-click-right-button="reserve.myRightButton()">
        				 </car-modal>
        				  
        					<input 
        						type="submit"
        						id="submit"
        						name="submit"
        						class="btn btn-primary btn-lg btn-block" 
        						value="submit" 
        						ng-disabled="!reserveForm.$valid" 
        						data-toggle="modal" 
        						ng-href="#{{modal1}}"> 
        						<!-- <a href="#{{modal1}}" class="btn btn-primary btn-lg btn-block" 	data-toggle="modal" >test</a> -->
   
        				</div>
        			</form>
				</div>
		</div>
</div>